* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color--primary: #E50914;
  --color--sec: #BB1024;
  --color--dark: #221F1F;
  --color--light: #F5F5F1;
}

body {
  font-family: sans-serif;
}

.encabezado {
  margin-right: 40px;
  margin-top: 20px;
  background: transparent;
  width: 100%;
  top: 0;
  position: absolute;
}

.encabezado > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.encabezado > div > img {
  height: 70px;
  position: relative;
  left: 100px;
  bottom: 10px;
}

.encabezado > div > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: none;
  position: relative;
  right: 100px;
}

.encabezado > div > div > select {
  color: #fff;
  background-color: var(--color--dark);
  border-radius: 5px;
  text-align: center;
  padding-left:15px;
  width: 120px;
  height: 30px;
  font-weight: 600;
}

.translate {
  background-color: #fff;
  mask-image: url(/assets/imgs/translate.png);
  mask-size: 60%;
  mask-repeat: no-repeat;
  border: 1px solid black;
  position: relative;
  left: 63px;
  top: 12px;
}

.translate-svg {
  width: 50px;
  height: 50px;
  position: relative;
  left: 400px;

}



.encabezado > div > div > button {
  background-color: var(--color--primary);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
  height: 30px;
  width: 120px;
  font-weight: 600;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/imgs/NF.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.5rem;
    margin-bottom: 20px;
    max-width: 600px;

}

.hero p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
    max-width: 600px;
}

.form-container {
    display: flex;
    margin-top: 10px;
    gap: 8px;
}

.form-container input {
    width: 430px;
    padding: 18px 20px;
    font-size: 1rem;
    border: 1px solid gray;
    background-color: rgba(22, 22, 22, 0.8);
    color: white;
}

.form-container button {
    width: 160px;
    padding: 18px 28px;
    background-color: #e50914;
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}


.features-tendencias {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
  width: 100vw;
  height: 50vh;
}

.features-tendencias {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    width: 100vw;
    height: 50vh;
}