* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color--primary: #E50914;
    --color--sec: #BB1024;
    --color--dark: #221F1F;
    --color--light: #F5F5F1;
}

.features-tendencias {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    width: 100vw;
    height: 50vh;
}
